@{
    ViewBag.Title = "Početna";
}

<link href="~/content/HomeIndex.css" rel="stylesheet" type="text/css" />

@if (Request.IsAuthenticated)
{
    <h4><span class="glyphicon glyphicon-home"></span> Početna</h4>
        <hr />
        <div class="jumbotron">
            @Html.Action("_SocietyDetails", "Society")
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4><span class="glyphicon glyphicon-user"></span> Profil</h4>
                <p>
                    Uvid u osobne podatke i uređivanje osobnih podataka moguće je ostvariti na stranici profila.
                </p>
                <a class="btn btn-default" href="@Url.Action("Index", "Profile")">Profil &raquo;</a>
            </div>
            <div class="col-md-3">
                <h4><span class="glyphicon glyphicon-check"></span> Članarina</h4>
                <p>Informacije o plaćenim članarinama i uvid u račun plaćene članarine nalaze se na stranici članarina.</p>
                <p><a class="btn btn-default" href="@Url.Action("Index", "MembershipFee")">Članarina &raquo;</a></p>
            </div>
        </div>
}
else
{
    <div class="box">
        @Html.Partial("_Login")
    </div>
}






